@import "../base/variables";
.footer{
    background-color: $mid;
    display: flex;
    align-items: flex-start;
    

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column; 
        color:$light;  
        
      }

        &__link {
            justify-content: center;
            font-family: "Shrikhand",sans-serif;
            font-size: 18px;
            text-decoration: none;
            font-weight: 400;
            color:$light;  
        }
       
            &__item{        
                font-size: 16px;
                font-weight: 500;  
                text-decoration: none;
        }
            
        
}