@import "../base/variables";
.function {
  padding: 48px 0 68px 0;

  &__list {
    padding: 0px;
    margin-top: 25px;
    margin-left: 12px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    @media (min-width: $xl) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: $background-tertiary;
    width: 322px;
    height: 72px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);
    }

    &:hover .function__icon {
      color: $primary;
    }
  }

  &__elipse {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: $primary;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: 500;
  }

  &__icon {
    color: $mid-tint;
    margin-right: 20px;
  }
}
