@import "../base/variables";
.menu{
    background: $background-tertiary;
    

  &__container{
    &__link{
      display: flex;

      &__name {
        font-family: $header-font-family;
      }
      
      &__like {
        position: relative;
        outline: none;
        background-color: inherit;
        width: 22px;
        height: 21px;
        border: none;
      }
    }
      
    &__plat {
        flex-direction: column;
    
        &__list {
          display: flex;
          width: 100%;
          background: $background-secondary;
          overflow: hidden;
          border-radius:15px;
          padding: 0;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          outline: none;
          border: none;
          text-decoration: none;
          
            &__item {
             
              &__subtitle{ 
                font-size: 18px;
                font-weight: 500;
              }
              &__description{
                font-size: 15px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    
  

    
   
