@import "../base/variables";
.restaurants{
    padding: 48px 0 68px 0;

        &__card{
            height: 100%;
            margin-top: 25px;
        }
            &__images{
                width: 346px;
                height: 231px;
                border-radius: 15px 15px 0 0;
            }
            @keyframes blinkAnimation {
                0% {
                  opacity: $blink-opacity-start;
                }
                50% {
                  opacity: $blink-opacity-middle;
                }
                100% {
                  opacity: $blink-opacity-end;
                }
              }
                &__marker{
                    color: $tertiary-dark;
                    font-size: 14px;
                    font-weight: 500;
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;
                    background: $tertiary;
                    text-decoration: none;
                    position: absolute;
                    text-align: center;
                    height: fit-content;
                    padding: 7px 9px;
                    left: 210px;
                    animation: blinkAnimation 2s infinite;
            }


            &__text{
                margin-left: 13px;
            }

                &__menu{
                    font-size: 18px;
                    font-weight: 700;
                }

                &__subtitle{
                    font-size: 17px;
                    font-weight: 300;
                }
                &__icon {
                    cursor: pointer;
                    background-color: $secondary;
                    
                }
            }
                  
                    
                