// colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$tertiary-dark: #008766;
$foreground: black;
$light: white;
$mid: #353535;
$mid-tint: #7e7e7e;
$mid-light: #eaeaea;
$mid-light-plus: #f6f6f6;
$background: #f3f3f3;
$background-secondary: $light;
$background-dark: $mid;
$background-tertiary: $mid-light-plus;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// font sizes
$header-font-size: 30px;
$title-font-size: 24px;

//animation
$blink-opacity-start: 1;
$blink-opacity-middle: 0;
$blink-opacity-end: 1;
