// colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiary-dark: #008766;
$foreground: black;
$light: white;
$mid: #353535;
$mid-tint:#7E7E7E;
$mid-light: #EAEAEA;
$mid-light-plus:#F6F6F6;
$background: #F3F3F3;
$background-secondary: $light;
$background-dark: $mid;
$background-tertiary:$mid-light-plus;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// font sizes
$header-font-size: 30px;
$title-font-size: 24px;

//animation 
$blink-opacity-start: 1;
$blink-opacity-middle: 0;
$blink-opacity-end: 1;



