
:root {
  --color-text:#353535;
  --main-bg-color: #F6F6F6;
  --ellipse-color: var(--Primary, #9356DC);
  --h1-font-size: 28px;
  --h2-font-size: 24px;
  --h3-font-size: 16px;
  --span-font-size: 16px;
  --p-font-size-small: 15px;
  --p-font-size-medium: 16px;
  --p-font-size-large: 18px;
  --a-font-size: 16px;
  --p-font-weight: normal;
  --a-font-weight: normal;
}

.button-gradient{
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  display: inline-flex;
  color: white;
  font-weight: 500;
}
/* Tailles des boutons */
.large {
  width: 218px;
  height: 50px;
  margin-top: 27px;
}
.medium {
  width: 186px;
  height: 50px;
  margin-top: 40px;
}


.card img{
  height: 231px;
  width: 346px;
}


.homepage__reception{
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  background-color: var(--main-bg-color);
  height: 287px;
}

.homepage__reception p{
  font-size: var(--p-font-size-large);
  color: var(--color-text);
}



  
